@import url(https://fonts.googleapis.com/css?family=Yeseva+One:regular);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-image: url("./images/brick-5066288.jpg"); */
    background-image: url("./images/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.navBar {
    color: rgb(29, 29, 29);
    font-family: 'yeseva one';
}

.form-title {
    font-family: 'yeseva one';
}

.input-fields {
    display: flex;
    align-items: center;
}

.form-btn {
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 500;
    min-width: 100px;
    height: 3rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition-duration: .1s;
}

.form-btn:hover {
    box-shadow: 0 0 20px 10px rgba(87, 81, 136, 0.5);
    background-image: linear-gradient(92.88deg, #5643CC 9.16%, #673FD7 43.89%, #455EB5 64.72%);
}

.form-btn:active {
    box-shadow: 0 0 0 0px rgba(87, 81, 136, 0.5);

}

.loginForm {
    font-family: "Montserrat";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 100px;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);
    background-color: rgba(255, 255, 255, 0.08);
    /* max-height: 85vh; */
}

.form {
    display: flex;
    flex-direction: column;
    color: snow;
}

.form .input-fields {
    padding: 48px;
}

.form .reg {
    padding: 10px;
}

.form-text {
    width: 100%;
    padding: 16px 4px;
    border: none;
    border: 2px solid #509fa9;
    border-radius: 8px;
    background-color: transparent;
    color: rgb(17, 17, 17);
    outline: none;
}

.material-symbols-outlined {
    font-size: 42px;
    color: #509fa9;
}

.form-fields {
    margin: 10px 0px;
    color: rgb(18, 18, 18);
}

option {
    color: black;
}

.white {
    color: rgb(17, 17, 17);
}

.formlist {
    color: rgb(17, 17, 17);
}

/* CSS */
.approve {
    background-color: rgb(81, 133, 255);
    padding: 6px 18px;
    color: snow;
    border-radius: 12px;
}

.reject {
    background-color: rgb(255, 133, 133);
    padding: 6px 18px;
    color: black;
    border-radius: 12px;
}

.folder-card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px 20px;
    text-decoration: none;
    border: 2px solid rgba(0, 0, 0, 0.236);
    color: rgb(17, 17, 17);
    width: 220px;
    margin: 18px;
    box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0.058);
    backdrop-filter: blur(0px);
    border-radius: 12px;
    text-transform: uppercase;
    cursor: pointer;
}

.folder-card:hover {
    box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0.1), 0 0 14px 3px rgba(0, 0, 0, 0.08);
}

.folder-card:active {
    box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0.1);
}

.folder-container {
    display: flex;
    align-items: center;
}

.capital {
    text-transform: uppercase;
}

.title {
    color: rgb(72, 72, 72);
    text-decoration: none;
    margin: 10px;
}

.subCard-container {
    margin: 0px 18px;
}

.file-icon {
    font-size: 36px;
}

.file-node {
    display: inline-flex;
    align-items: center;
    max-width: 100%;
    text-decoration: none;
    color: rgb(17, 17, 17);
    box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(4px);
    border-radius: 12px;
    margin: 4px 0px;
}

.filelist {
    display: inline-flex;
    flex-direction: column;
}

.file-node * {
    margin: 0px 12px;
}

.disable {
    cursor: not-allowed;
}


.center {
    text-align: center;
}

.table-form {
    border-collapse: collapse;
    /* margin: 10px 20px; */
}

th,
td {
    border: 1px solid black;
    padding: 2px 5px;
}

td input,
th input {
    background-color: transparent;
    border: none;
    outline: none;
    width: auto;
}

/* thead {
    width: 100%;
} */

th input {
    color: black;
}
.welcome{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(235, 235, 235);
    box-shadow: 2px 0px 20px black;
}
.vh100{
    height: 100vh;
}
.welcome-lottie{
    height: 50%;
    width: 50%;
    display: flex;
    align-items: end;
    justify-content: center;
}